const search = document.getElementById("search");

search.addEventListener("keyup", function () {

    let filter = this.value.toLowerCase();

    let rows = document.querySelectorAll("#hostTable tbody tr");

    rows.forEach(function(row){

        let text = row.innerText.toLowerCase();

        if(text.includes(filter))
            row.style.display = "";
        else
            row.style.display = "none";

    });

});
