[Unit]
Description=HIMP Scheduler
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot

User=himp
Group=himp

WorkingDirectory=/opt/himp

Environment=HOME=/var/lib/himp
Environment=PATH=/opt/himp/.venv/bin:/usr/local/bin:/usr/bin:/bin
Environment=PYTHONPATH=/opt/himp
Environment=ANSIBLE_PRIVATE_KEY_FILE=/var/lib/himp/.ssh/id_ed25519
Environment=PYTHONUNBUFFERED=1
EnvironmentFile=-/etc/himp/database.env
EnvironmentFile=-/etc/himp/notifications.env

ExecStart=/opt/himp/.venv/bin/python -m himp.cli scheduler-run
