[Unit]
Description=Daily HIMP Scheduled Maintenance Updates

[Timer]
OnCalendar=*-*-* 03:15:00
Persistent=true
Unit=himp-scheduled-updates.service

[Install]
WantedBy=timers.target
