{% macro himp_service_card(system) %}

<div class="col-md-3">

    <div class="card bg-dark text-light border-secondary mb-4">

        <div class="card-body">

            <h6>HIMP Service</h6>

            {% if system.running %}

            <h3>
                <span class="badge bg-success">
                    Running
                </span>
            </h3>

            {% else %}

            <h3>
                <span class="badge bg-danger">
                    Down
                </span>
            </h3>

            {% endif %}


            <small>
                Status: {{ system.status }}
            </small>


            <div class="mt-2">

                <small>
                    PID: {{ system.pid }}
                </small>

            </div>


            <div class="mt-2">

                <small>
                    Last Restart: {{ system.started }}
                </small>

            </div>


            <hr>


            <button
                class="btn btn-warning btn-sm"
                id="restart-himp">

                Restart HIMP

            </button>


        </div>

    </div>

</div>

{% endmacro %}
