{% macro inventory_table(hosts) %}

<div class="table-responsive">

    <table class="table table-dark table-striped">

        <thead>

        <tr>

            <th>
                Hostname
            </th>

            <th>
                Group
            </th>

            <th>
                IP Address
            </th>

            <th>
                User
            </th>

            <th>
                Become
            </th>

        <th>
            Health
        </th>

        <th>
            Score
        </th>

        </tr>

        </thead>


        <tbody>

        {% for host in hosts %}

        <tr>

            <td>
                {{ host.hostname }}
            </td>

            <td>
                {{ host.group }}
            </td>

            <td>
                {{ host.ip }}
            </td>

            <td>
                {{ host.user }}
            </td>

            <td>
                {{ host.become }}
            </td>

        <td>
            {% if host.health_status == "PASS" %}
            <span class="badge bg-success">
                HEALTHY
            </span>
            {% elif host.health_status == "WARNING" %}
            <span class="badge bg-warning text-dark">
                WARNING
            </span>
            {% elif host.health_status == "FAIL" %}
            <span class="badge bg-danger">
                FAILED
            </span>
            {% else %}
            <span class="badge bg-secondary">
                UNKNOWN
            </span>
            {% endif %}
        </td>

        <td>
            {{ host.health_earned }}/{{ host.health_possible }}
        </td>

        </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

{% endmacro %}
